<h1>GAMES</h1>

<table>
  <tr>
    <th>{{ week }}</th>
    <th>1</th>
    <th>X</th>
    <th>2</th>
  </tr>
  <tr>
    <td>{{ games.0 }}</td>
    <td><input type="checkbox" id="game11" name="game11" value="Game11"></td>
    <td><input type="checkbox" id="game1X" name="game1X" value="Game1X"></td>
    <td><input type="checkbox" id="game12" name="game12" value="Game12"></td>
  </tr>
  <tr>
    <td>{{ games.1 }}</td>
    <td><input type="checkbox" id="game21" name="game21" value="Game21"></td>
    <td><input type="checkbox" id="game2X" name="game2X" value="Game2X"></td>
    <td><input type="checkbox" id="game22" name="game22" value="Game22"></td>
  </tr>
  <tr>
    <td>Game 3</td>
    <td><input type="checkbox" id="game31" name="game31" value="Game31"></td>
    <td><input type="checkbox" id="game3X" name="game3X" value="Game3X"></td>
    <td><input type="checkbox" id="game32" name="game32" value="Game32"></td>
  </tr>
  <tr>
    <td>Game 4</td>
    <td><input type="checkbox" id="game41" name="game41" value="Game41"></td>
    <td><input type="checkbox" id="game4X" name="game4X" value="Game4X"></td>
    <td><input type="checkbox" id="game42" name="game42" value="Game42"></td>
  </tr>
  <tr>
    <td>Game 5</td>
    <td><input type="checkbox" id="game51" name="game51" value="Game51"></td>
    <td><input type="checkbox" id="game5X" name="game5X" value="Game5X"></td>
    <td><input type="checkbox" id="game52" name="game52" value="Game52"></td>
  </tr>
  <tr>
    <td>Game 6</td>
    <td><input type="checkbox" id="game61" name="game61" value="Game61"></td>
    <td><input type="checkbox" id="game6X" name="game6X" value="Game6X"></td>
    <td><input type="checkbox" id="game62" name="game62" value="Game62"></td>
  </tr>
  <tr>
    <td>Game 7</td>
    <td><input type="checkbox" id="game71" name="game71" value="Game71"></td>
    <td><input type="checkbox" id="game7X" name="game7X" value="Game7X"></td>
    <td><input type="checkbox" id="game72" name="game72" value="Game72"></td>
  </tr>
  <tr>
    <td>Game 8</td>
    <td><input type="checkbox" id="game81" name="game81" value="Game81"></td>
    <td><input type="checkbox" id="game8X" name="game8X" value="Game8X"></td>
    <td><input type="checkbox" id="game82" name="game82" value="Game82"></td>
  </tr>
  <tr>
    <td>Game 9</td>
    <td><input type="checkbox" id="game91" name="game91" value="Game91"></td>
    <td><input type="checkbox" id="game9X" name="game9X" value="Game9X"></td>
    <td><input type="checkbox" id="game92" name="game92" value="Game92"></td>
  </tr>
  <tr>
    <td>Game 10</td>
    <td><input type="checkbox" id="game101" name="game101" value="Game101"></td>
    <td><input type="checkbox" id="game10X" name="game10X" value="Game10X"></td>
    <td><input type="checkbox" id="game102" name="game102" value="Game102"></td>
  </tr>
  <tr>
    <td>Game 11</td>
    <td><input type="checkbox" id="game111" name="game111" value="Game111"></td>
    <td><input type="checkbox" id="game11X" name="game11X" value="Game11X"></td>
    <td><input type="checkbox" id="game112" name="game112" value="Game112"></td>
  </tr>
  <tr>
    <td>Game 12</td>
    <td><input type="checkbox" id="game121" name="game121" value="Game121"></td>
    <td><input type="checkbox" id="game12X" name="game12X" value="Game12X"></td>
    <td><input type="checkbox" id="game122" name="game122" value="Game122"></td>
  </tr>
  <tr>
    <td>Game 13</td>
    <td><input type="checkbox" id="game131" name="game131" value="Game131"></td>
    <td><input type="checkbox" id="game13X" name="game13X" value="Game13X"></td>
    <td><input type="checkbox" id="game132" name="game132" value="Game132"></td>
  </tr>
